#infinite-list {
    width: 800px;
    height: 900px;
    overflow: auto;
  
    margin: auto;
    padding: 20px;
    border: 4px solid black;
  }
  
  
  li {
    padding: 10px;
    list-style-type: none;
  }
  li:hover {
    background: #ccc;
  }