.imgur-logo{
    width: 60px;
    height: 23px;
   

}
body{
    background-color: #171544;

}
.top-container{
    background-color: #171544;
 
    
}
.imgur-container{
    
    height: 40vh;
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
       background-size: cover;
}
.navbar-container{
    width: 100%;
    height: 70px;
    position:fixed;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171544;
    z-index: 99;
  

}
.navbar-text{
    font-size: 24px;
    font-weight: 700;
    top: 70px;
    color:#aed8ea ;
    text-align: center;
    margin-top:40px ;
    position: relative;
}
.search-logo{
    margin-left: -55px;
    width: 30px;
    position: relative;
   
   
}
.search-bar{
   
    width: 55vw;
    height: 32px;
    background:hsla(0,0%,100%,.25); ;
    color:#fff;
    border-radius: 6px;
}
.search-container{
    margin-left: 9%;
    width: 45%;
    display: flex;
    align-items: center;
}
.navbar-right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 14%;
}
.new-post{
    width: 110px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: green;
    font-size: 18px;
    font-weight: 600;
}
.ad-free{
    width: 120px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: violet;
    font-size: 18px;
    font-weight: 600;  
}
#bottom-image-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5,290px);
}
#bottom-image-container img{
    margin-bottom: 30px;
    object-fit: cover;
    height: 300px;


}
#bottom-image-container div{
    width: 87%;
    object-fit: cover;

}
.bottom-container{
    margin-top: 2px;
    background-color: #2e3035;
}
#mid-container{
    width: 83%;
    margin: auto;
    overflow: hidden;

}
#mid-container img:hover{
    transform: scale(1.1);
    

}